{
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "lines-between-class-members": ["error", "never"]
  }
}